body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

#products div {
    background: white;
    padding: 10px;
    margin: 10px;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    padding: 5px 10px;
}
